<section class="container text-center">
    <h1>Sesión iniciada!</h1>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8079e40c-49c5-4171-91d2-e12c7f3b6deb/d6kqpjp-45a7b041-08b5-4e4f-b1b3-4611887f1452.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwNzllNDBjLTQ5YzUtNDE3MS05MWQyLWUxMmM3ZjNiNmRlYlwvZDZrcXBqcC00NWE3YjA0MS0wOGI1LTRlNGYtYjFiMy00NjExODg3ZjE0NTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xsfH2RUYcK8e1XwkCAFYJFi7i8vMXhEIXCaGkZTc_Pg"
        alt="">
    <button (click)="onClick()" class="btn btn-outline-danger mt-5">Cerrar sesión</button>
</section>